<div class="pop-box pop-search hide">
    <div class="search-header">
        <a href="javascript:;" class="back close_search">返回</a>
        <div class="wrap-search-ipt">
            <input type="text" placeholder="请输入..." class="search-ipt page_search_ipt">
            <a href="javascript:;" class="search-clear search_clear"></a>
        </div>
    </div>
    <div class="search-txt-info hide"><span class="red-txt search_msg"></span> 的搜索结果，<span class="search_click_text">点击选中</span></div>
    <div class="wrap-search-result mt4">
        <ul class="goods-list-box search_goods_list_box">
        </ul>
    </div>
    <p class="no-result no_result hide">暂无结果</p>
</div>