<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content ="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <meta name="keywords" content="森果,水果商城,水果O2O,微信卖水果,水果系统,森果后台,微信商城运营,生鲜商城,线上水果">
    <meta name="description" content="森果是帮助商家在微信上搭建微信商城的平台，提供店铺、商品、订单、消息和客户的管理模块，同时还提供丰富的营销应用和活动插件。">
    <title>{% block title%}果蔬库存管理{%end %}</title>
    <link rel="stylesheet" href="{{static_url('common/css/reset.css')}}"/>
    {% block head%}{%end %}
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{static_url('images/favicon.ico')}}" type="image/x-icon">
    <script>window.dataObj = {_xsrf: "{{handler.xsrf_token}}"};</script>
</head>
<body>
{% block container %}
<div class="container pt0" style="background-color: #fff;">
 	{% block content %}{% end %}
</div>
{%end%}
{% block fix %}{% end %}
<div style="display: none;">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?0f18425e4dfbeacd7a507a2d6e82e76c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>
<script src="{{static_url('common/js/zepto-fastclick-lazyload-template.js')}}"></script>
<script src="{{static_url('login/js/m_public.js')}}"></script>
{% block bottom %}{% end %}
</body>
</html>
